################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Process-Multiplexer-and-CLIMO
/.vs/Process-Multiplexer-and-CLIMO/copilot-chat/72725fc1/sessions
/.vs/Process-Multiplexer-and-CLIMO/copilot-chat/72725fc1/sessions/b1a3f61c-b71c-45a5-949e-1df347e7ba75
/.vs/Process-Multiplexer-and-CLIMO/CopilotIndices/17.14.670.39694
/.vs/Process-Multiplexer-and-CLIMO/CopilotIndices/17.14.670.39694/CodeChunks.db
/.vs/Process-Multiplexer-and-CLIMO/CopilotIndices/17.14.670.39694/SemanticSymbols.db
/.vs/Process-Multiplexer-and-CLIMO/FileContentIndex
/.vs/Process-Multiplexer-and-CLIMO/FileContentIndex/6bced946-0e3f-4907-89d5-314e7e9290a2.vsidx
/.vs/Process-Multiplexer-and-CLIMO/v17
/.vs/Process-Multiplexer-and-CLIMO/v17/.wsuo
/.vs/Process-Multiplexer-and-CLIMO/v17/Browse.VC.db
/.vs/Process-Multiplexer-and-CLIMO/v17/DocumentLayout.backup.json
/.vs/Process-Multiplexer-and-CLIMO/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/MO1
/MO1/.vs/MO1
/MO1/.vs/MO1/copilot-chat/72725fc1/sessions
/MO1/.vs/MO1/copilot-chat/72725fc1/sessions/11fc87f6-d337-4c78-9b12-eb3518aba0a0
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694/CodeChunks.db
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694/SemanticSymbols.db
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/MO1/.vs/MO1/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
/MO1/.vs/MO1/FileContentIndex
/MO1/.vs/MO1/FileContentIndex/009c1d43-358f-4ccb-98e9-84e068a7bb6d.vsidx
/MO1/.vs/MO1/FileContentIndex/7a15f009-c1e9-4e51-ae1c-a934d2d6f7e3.vsidx
/MO1/.vs/MO1/v17
/MO1/.vs/MO1/v17/.suo
/MO1/.vs/MO1/v17/Browse.VC.db
/MO1/.vs/MO1/v17/Browse.VC.db-shm
/MO1/.vs/MO1/v17/Browse.VC.db-wal
/MO1/.vs/MO1/v17/Browse.VC.opendb
/MO1/.vs/MO1/v17/DocumentLayout.backup.json
/MO1/.vs/MO1/v17/DocumentLayout.json
/MO1/.vs/MO1/v17/ipch/AutoPCH
/MO1/.vs/MO1/v17/ipch/AutoPCH/1abad6eccc72dabe
/MO1/.vs/MO1/v17/ipch/AutoPCH/1abad6eccc72dabe/CONSOLE.ipch
/MO1/.vs/MO1/v17/ipch/AutoPCH/42f65b8de353a5e4
/MO1/.vs/MO1/v17/ipch/AutoPCH/42f65b8de353a5e4/EMULATOR.ipch
/MO1/MO1/x64/Debug
/MO1/MO1/x64/Debug/console.obj
/MO1/MO1/x64/Debug/emulator.obj
/MO1/MO1/x64/Debug/marquee.obj
/MO1/MO1/x64/Debug/MO1.exe.recipe
/MO1/MO1/x64/Debug/MO1.ilk
/MO1/MO1/x64/Debug/MO1.log
/MO1/MO1/x64/Debug/MO1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/CL.command.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/Cl.items.tlog
/MO1/MO1/x64/Debug/MO1.tlog/CL.read.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/CL.write.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/link.command.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/link.read.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/link.secondary.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/link.write.1.tlog
/MO1/MO1/x64/Debug/MO1.tlog/MO1.lastbuildstate
/MO1/MO1/x64/Debug/vc143.idb
/MO1/MO1/x64/Debug/vc143.pdb
/MO1/MO1.sln
/MO1/MO1.vcxproj
/MO1/MO1.vcxproj.filters
/MO1/MO1.vcxproj.user
/MO1/x64/Debug
/MO1/x64/Debug/MO1.exe
/MO1/x64/Debug/MO1.pdb
