################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Process-Multiplexer-and-CLI/FileContentIndex
/.vs/Process-Multiplexer-and-CLI/FileContentIndex/960bc14c-e9b5-478b-a1ad-a9c15097d338.vsidx
/.vs/Process-Multiplexer-and-CLI/FileContentIndex/e0d1f0bc-17c7-4e00-a7f9-eaacc9aa7c98.vsidx
/.vs/Process-Multiplexer-and-CLI/v17
/.vs/Process-Multiplexer-and-CLI/v17/.wsuo
/.vs/Process-Multiplexer-and-CLI/v17/Browse.VC.db
/.vs/Process-Multiplexer-and-CLI/v17/Browse.VC.db-shm
/.vs/Process-Multiplexer-and-CLI/v17/Browse.VC.db-wal
/.vs/Process-Multiplexer-and-CLI/v17/Browse.VC.opendb
/.vs/Process-Multiplexer-and-CLI/v17/DocumentLayout.json
/.vs/Process-Multiplexer-and-CLI/v17/ipch/AutoPCH
/.vs/Process-Multiplexer-and-CLI/v17/ipch/AutoPCH/30a7d31205d28833
/.vs/Process-Multiplexer-and-CLI/v17/ipch/AutoPCH/30a7d31205d28833/EMULATOR.ipch
/.vs/Process-Multiplexer-and-CLI/v17/ipch/AutoPCH/7e678519431bd2b4
/.vs/Process-Multiplexer-and-CLI/v17/ipch/AutoPCH/7e678519431bd2b4/VCTMP21324_581679.EMULATOR.C49803C7.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/emulator.exe
/.vs
/.vs/slnx.sqlite-journal
/Process .E1B1A33E/x64/Debug/emulator.obj
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/CL.command.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/Cl.items.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/CL.read.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/CL.write.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/link.command.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/link.read.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/link.secondary.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/link.write.1.tlog
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/Process Multiplexer and CLI.lastbuildstate
/Process .E1B1A33E/x64/Debug/Process .E1B1A33E.tlog/unsuccessfulbuild
/Process .E1B1A33E/x64/Debug/Process Multiplexer and CLI.exe.recipe
/Process .E1B1A33E/x64/Debug/Process Multiplexer and CLI.ilk
/Process .E1B1A33E/x64/Debug/Process Multiplexer and CLI.log
/Process .E1B1A33E/x64/Debug/vc143.idb
/Process .E1B1A33E/x64/Debug/vc143.pdb
/Process .E1B1A33E/x64/Release
/Process .E1B1A33E/x64/Release/emulator.obj
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/CL.command.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/Cl.items.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/CL.read.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/CL.write.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/link.command.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/link.read.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/link.secondary.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/link.write.1.tlog
/Process .E1B1A33E/x64/Release/Process .E1B1A33E.tlog/Process Multiplexer and CLI.lastbuildstate
/Process .E1B1A33E/x64/Release/Process Multiplexer and CLI.exe.recipe
/Process .E1B1A33E/x64/Release/Process Multiplexer and CLI.log
/Process .E1B1A33E/x64/Release/vc143.pdb
/x64
/x64/Debug
/x64/Debug/Process Multiplexer and CLI.exe
/x64/Debug/Process Multiplexer and CLI.pdb
/x64/Release
/x64/Release/Process Multiplexer and CLI.exe
/x64/Release/Process Multiplexer and CLI.pdb
/Process Multiplexer and CLI.sln
/Process Multiplexer and CLI.vcxproj
/Process Multiplexer and CLI.vcxproj.filters
/Process Multiplexer and CLI.vcxproj.user
